# Ignorar archivos de medios y documentos
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
*.webp
*.mp4
*.mov
*.avi
*.mkv
*.wmv
*.flv
*.mp3
*.wav
*.ogg
*.pdf
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.zip
*.rar
*.tar
*.7z
media/